page-promocode{
.promo_code_bg{background-color: #e5e5e5;}
ion-input{height: 70px;border-bottom: none;}
.item.item-block .item-inner{border-bottom: none;}
.txt_item{margin-top: 13px;border-bottom: 0.5px solid #ccc;border-top: 0.5px solid #ccc; }
.text-input{height: 48px;}
.cus_grid{padding: 15px 0px;}
.list_show{margin-top:10px;background-color: #fff;}
.list_promocode{padding: 10px;border-bottom: 0.5px solid #efefef;}
}
