page-login {
.auto_margin{
margin: auto;
}
.auto_margin:first-child{
 padding:5px;
}
.signinbut {
color: color($colors_new, defcolor, base);
background-color :  color($colors_new, order_collect_BTN, base) !important;
height:3.4em;

}
.signinbut.activated {
color: color($colors_new, defcolor, base);
background-color:  color($colors_new, order_collect_BTN, base) !important;
}
.forgotpass{
text-align: center;
margin: auto;
padding:20px;
color:color($colors_new, order_collect_BTN, base);
}
.btn_fix_bottom{position: absolute;width: 100%;z-index: 1;bottom: 0px;}
.item-input-has-focus .label{  color:color($colors_new, order_collect_BTN, base) !important;}
.item-inner{margin-right: 16px;}
ion-item{border:none !important;box-shadow: none !important;}
.login_content{background-color: #f1f1f1 !important;}
form{margin-top: 35px;}
form ion-list{border-bottom:1px solid #e5e5e5;background-color: #fff;margin-bottom: 1px !important;}
.item-inner{border: none !important;}
.sign_inBtn.activated,.sign_inBtn{background: transparent !important;}
.footer_price{background-color: #fff;}
}
