page-loyalty-reward {
  .loyality_star{background-color: #ccc;color:#fff;padding: 5px;border-radius: 100%;text-align: center;}
  .stamp_color{background-color: #E5AA17;}
  .width60{width:60%;}
  .loyalty_cont{background: #000;}
  .default_cls{width:80%;margin: auto;margin-bottom: 10px;}
  .ion_footer .order_collect_BTN{margin-top: 10px;}
  .loyalty_cont .fixed-content , .loyalty_cont .scroll-content{margin-bottom: 0px !important;}
  .row_reward{background-color: #fff;padding: 8px 5px 8px 5px;margin-bottom: 8px;}
  .grid_reward{border: 1px dotted #fff;height: 80%;}
}
