page-receipts-details {
.direction_btn{height:30px;border: 2px solid  color($colors_new,loyality_rewards_BTN) !important;color: color($colors_new,loyality_rewards_BTN) !important;font-size: 12px;margin:8px auto 5px auto;}
  .address{color: #888;line-height: 25px;}
  .item_list{border-top: 1px dashed #ccc;margin-bottom: 1px;}
  .data_css{margin:5px 0px;}
  .data_css span{line-height: 25px;}
  .item_list ion-label{margin-right: 0px;}
}
