page-edit-profile{
  ion-item{border:none !important;box-shadow: none !important;}
  .edit_profile_content{background-color: #f1f1f1 !important;}
  .item_div{margin-top: 35px;}
  .item_div ion-list{border-bottom:1px solid #e5e5e5;background-color: #fff;margin-bottom: 1px !important;}
  .item-inner{border: none !important;}
  .changeP_list{margin-top: 20px;}
  .signupbut{min-height: 5rem}
}
