modal-redeem-now {
.loyality_star{background-color: #ccc;color:#fff;padding: 5px;border-radius: 100%;text-align: center;}
.stamp_color{background-color: #E5AA17;}
ion-footer{width:96%;left:2%;}
.close_modal{background: transparent !important;color:#333;margin-top: 0px !important;margin-bottom: 0px !important;box-shadow: none !important;}
.col_fn{line-height: 2.3em;}
.left_css{left:6%;}
.margin_redeem{margin-top: 44px;padding-top: 10px;}
.cls_cont_footer{position: absolute;z-index:1;bottom: 0px;margin: auto;}
.order_code{font-size: 240%;text-align: center;line-height: 272px;}
.order_gif{background-image: url(../assets/images/giphy_test.gif);background-size: auto 100%;height: auto;text-align: center;background-position: center;}
.star_fill{vertical-align: -webkit-baseline-middle;}
.default_cls{width:90%;margin: auto;margin-bottom: 10px;border-radius: 4px;}
.star_span{display: inline-block;width:14%;}
.txt_span{display: inline-block;vertical-align: -webkit-baseline-middle;width: 84%;}
.row_padd{padding-top: 10px;}
.grid{padding:0px;}
.15_min{line-height: 25px;}
}
.margin_disble .fixed-content, .margin_disble .scroll-content{margin-top:0px !important;}
