<ion-header no-shadow no-border>
  <ion-navbar hideBackButton [ngStyle]="{'background-color': constants.primary_colour}">
    <ion-buttons left (click)="backButtonClick()" *ngIf="supertab_selected == 0">
      <button ion-button class="menu" persistent="true">
         <ion-icon name="ios-arrow-back" class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back"></ion-icon>
         <span class="back-button-text back-button-text-ios">Back</span>
      </button>
    </ion-buttons>
    <ion-buttons left menuToggle *ngIf="supertab_selected != 0" style="display:block !important;">
      <button ion-button menuToggle class="menu" style="display:block !important;">
         <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center *ngIf="!globalService.brand_logo">{{globalService.brand_name}}</ion-title>
    <ion-title *ngIf="globalService.brand_logo" text-center><img img-cache [img-cache-src]="globalService.brand_logo" class="brand_small_logo" image-cache></ion-title>
    <ion-title *ngIf="!globalService.brand_name && !globalService.brand_logo" text-center>Collection</ion-title>
    <ion-buttons right [ngClass]="{'vis_hide' : (map_listview == 1 && list_view_show == 0),'hide' : (map_listview == 0 && list_view_show == 1)}" (click)="ListView()">
    <button clear icon-only class="bg_trans">
      <span class="map_txt font13" *ngIf="supertab_selected == 0">MAP</span>
      <span class="pin_icon font10"><ion-icon name="ios-pin-outline"></ion-icon></span>
    </button>
    </ion-buttons>
    <ion-buttons right *ngIf="map_listview == 0 && list_view_show == 1" (click)="gridView()">
    <button clear icon-only class="bg_trans">
      <span class="map_txt font13">LIST</span>
      <span class="pin_icon font10"><ion-icon name="ios-list"></ion-icon></span>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page" #content>
  <super-tabs id="mainTabs" [config]="{ sideMenu: 'left' }" scrollTabs toolbarColor="light" toolbarBackground="dark" indicatorColor="yellow" badgeColor="yellow" (tabSelect)="onTabSelect($event)" [ngClass]="list_view_show == 1 ? 'dis_none': ''" class="home_toolbar" [ngStyle]="{'background-color': constants.secondary_colour}" selectedTabIndex="{{supertab_selected_two}}" *ngIf="supertab_selected == 0">
    <super-tab [swipeBackEnabled]="false" [root]="page1" [title]="'NEW ORDER'" id="page1" text-center></super-tab>
    <super-tab [root]="page2" [title]="'FAVOURITES'"  id="page2" text-center></super-tab>
    <super-tab [root]="page3" [title]="'RECEIPTS'"  id="page3" text-center></super-tab>
  </super-tabs>
  <super-tabs id="mainTabs0" [config]="{ sideMenu: 'left' }" scrollTabs toolbarColor="light" toolbarBackground="dark" indicatorColor="yellow" badgeColor="yellow" (tabSelect)="onTabSelect($event)" [ngClass]="list_view_show == 1 ? 'dis_none': ''" class="home_toolbar twoTabs" [ngStyle]="{'background-color': constants.secondary_colour}" selectedTabIndex="0" *ngIf="supertab_selected != 0 && supertab_selected_two == '1'">
    <!--<super-tab [root]="page2" [title]="'FAVOURITES'"  id="page2" text-center></super-tab>-->
    <super-tab [root]="page3" [title]="'RECEIPTS'"  id="page3" text-center></super-tab>
  </super-tabs>
  <super-tabs id="mainTabs1" [config]="{ sideMenu: 'left'}" scrollTabs toolbarColor="light" toolbarBackground="dark" indicatorColor="yellow" badgeColor="yellow" (tabSelect)="onTabSelect($event)" [ngClass]="list_view_show == 1 ? 'dis_none': ''" class="home_toolbar twoTabs" [ngStyle]="{'background-color': constants.secondary_colour}" selectedTabIndex="0" *ngIf="supertab_selected != 0 && supertab_selected_two == '0'">
    <super-tab [root]="page2" [title]="'FAVOURITES'"  id="page2" text-center></super-tab>
    <!--<super-tab [root]="page3" [title]="'RECEIPTS'"  id="page3" text-center></super-tab>-->
  </super-tabs>

  <div style="height:0.1px;overflow:auto;" [ngClass]="list_view_show == 1 ? 'dtl_show':''">
  <div class="ListView">
    <div #pleaseConnect id="please-connect">
      <p>Please connect to the Internet...</p>
    </div>
    <div style="position:relative;width:100%;height:250px;">
      <div #map id="map"></div>
      <div style="width:100%;height:50px;position:absolute;bottom:0px;background-color:#000;padding-left: 10px;padding-right:10px;" [ngStyle]="{'background-color': constants.primary_colour}">
        <ion-row>
          <ion-col class="white_code details_map_collect" text-left>
              <ion-icon name="md-walk"></ion-icon> &nbsp;&nbsp;{{duration_time}}<!--Collect {{(collect_time/60).toFixed(0)}} in mins-->
          </ion-col>
          <ion-col class="white_code details_map_collect" text-right>
            {{open_time}}
          </ion-col>
        </ion-row>

      </div>
    </div>
    <ion-list *ngFor="let list_Res of globalService.map_merchant; let i=index" class="IList">
      <ion-item class="ITM">
        <ion-row>
        <ion-col (click)="markerShow(list_Res.lat,list_Res.long,i)" col-8 class="name_list">
          <ion-icon name="pin" #markerH_{{i}} id="markerH_{{i}}" class="removw_color"></ion-icon>&nbsp;&nbsp;<span class="font16">{{list_Res.name}}</span>
        </ion-col>
        <ion-col col-4 (click)="merchantDetails(list_Res.id,list_Res.menu,list_Res)">
          <ion-buttons ion-button round outline class="font12 menu_btn" [ngStyle]="{'border-color': constants.secondary_colour}">View menu</ion-buttons>
        </ion-col>
       </ion-row>
      </ion-item>
    </ion-list>

  </div>
</div>
</ion-content>
