page-change-password{
  ion-item{border:none !important;box-shadow: none !important;}
  .edit_profile_content{background-color: #f1f1f1 !important;}
  form{margin-top: 35px;}
  form ion-list{border-bottom:1px solid #e5e5e5;background-color: #fff;margin-bottom: 1px !important;}
  .item-inner{border: none !important;}
  .signupbut{min-height:3em;}
}
