<ion-header no-shadow no-border>
  <ion-navbar hideBackButton [ngStyle]="{'background-color': constants.primary_colour}">
    <ion-buttons left (click)="backPage()">
      <button ion-button class="menu" persistent="true">
         <ion-icon name="ios-arrow-back" class="back-button-icon icon icon-ios back-button-icon-ios ion-ios-arrow-back"></ion-icon>
         <span class="back-button-text back-button-text-ios">Back</span>
      </button>
    </ion-buttons>
    <ion-title text-center *ngIf="!globalService.brand_logo">{{globalService.brand_name}}</ion-title>
    <ion-title *ngIf="globalService.brand_logo" text-center><img img-cache [img-cache-src]="globalService.brand_logo" class="brand_small_logo"></ion-title>
    <ion-title *ngIf="!globalService.brand_name && !globalService.brand_logo" text-center>Change Password</ion-title>
    <ion-buttons right class="vis_hidden">
      <button clear icon-only class="bg_trans">
        <span class="map_txt">MAP</span>
        <span class="pin_icon"><ion-icon name="ios-pin-outline"></ion-icon></span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="edit_profile_content padding8">
  <form (ngSubmit)="updatePassword(new_password,confirm_password)" [formGroup]="signupform">
     <ion-list>
        <ion-item>
          <ion-label stacked text-uppercase class="font13">Password</ion-label>
          <ion-input  type="password" formControlName="new_password" [(ngModel)]="new_password" name="password" placeholder="New Password" class="font15 black_333"></ion-input>
        </ion-item>
        <p *ngIf="signupform.controls['new_password'].errors && signupform.controls['new_password'].dirty" class="errordata">* Password must be minimum 6 characters including  at least 1 number and 1 letter.</p>

        <ion-item>
          <ion-label stacked text-uppercase class="font13">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirm_password" [(ngModel)]="confirm_password" name="confirm_password" placeholder="Confirm Password" class="font15 black_333"></ion-input>
        </ion-item>
        <p *ngIf="signupform.controls['confirm_password'].errors && signupform.controls['confirm_password'].dirty" class="errordata">* Password must be minimum 6 characters including  at least 1 number and 1 letter.</p>
      </ion-list>
            <ion-row class="nopadding btn_fix_bottom" style="opacity:0;">
              <ion-col class="auto_margin">
                <button ion-button full class="signupbut" [disabled]="!signupform.valid">SIGN UP</button>
              </ion-col>
            </ion-row>
         </form>
</ion-content>
<ion-footer class="footer_price" [ngStyle]="{'padding-bottom': globalService.keyboard_height+'px'}" text-uppercase>
  <button ion-button full class="signupbut margin font15 default_cls brd_radN" [disabled]="!signupform.valid" (click)="updatePassword(new_password,confirm_password)" [ngStyle]="{'background-color': constants.button_colour_2}" text-uppercase>Change Password</button>
</ion-footer>
