modal-redeem {
  //.redeem_modal{width: 74%;height: 50%;margin: auto;left: 13%;top: 25%;}
.loyality_star{background-color: #ccc;color:#fff;padding: 5px;border-radius: 100%;text-align: center;}
.stamp_color{background-color: #E5AA17;}
ion-footer{width:96%;left:2%;}
.close_modal{background: transparent;color:#333;margin-top: 0px !important;margin-bottom: 0px !important;box-shadow: none !important;}
.col_fn{padding-top: 10px;}
.star_fill{vertical-align: -webkit-baseline-middle;}
.header_row{margin-top: 10px;}
.star_span{display: inline-block;width:14%;}
.txt_span{display: inline-block;vertical-align: -webkit-baseline-middle;width: 84%;}
.title_page{line-height: 2.3em;left: 8%;}
}
