page-my-beli {
.my_beli ion-list{margin-bottom: 2px !important;border-bottom: 1px solid #ccc;}
ion-item-divider .label{margin:5px;}
ion-list ion-icon{font-size: 2rem !important;color: #333;line-height: 1.4 !important;}
ion-item-group button{min-height: 5rem !important;}
}
